if SHIELD_SPLITTKL_LEFT

config ZMK_KEYBOARD_NAME
    default "splitTKL"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SPLITTKL_LEFT || SHIELD_SPLITTKL_RIGHT

config ZMK_SPLIT
    default y

endif